<% if logged_in? %>
	<h2><%= link_to "Create a new tool", new_tool_path %></h2>
<% end %>
<%= render 'shared/page_title', title: 'All tools' %>

<%= will_paginate %>

<% @tools.each do |t| %>
	<div>
		<h4><%= link_to t.name, tool_path(t) %></h4>
		<p>
			<%= t.description %>
		</p>
		<p>
			<span><%= time_ago_in_words(t.created_at) %></span>
		</p>
	</div>
<% end %>

<%= will_paginate %>
