<%= render 'shared/page_title', title: @tool.name %>

<h4>Name: <%= @tool.name %></h4>
<p>Type: <%= link_to @tool.tooltype.name , tooltype_path(@tool.tooltype) %></p>
<p>Description: <%= simple_format(@tool.description) %></p>
<p>Owner: <%= link_to @tool.owner.username , user_path(@tool.owner) %></p>
<% if current_user && @tool.owner == current_user %>
	<p><%= link_to "Edit", edit_tool_path(@tool) %></p>
<% else %>

<% end %>
<p><%= link_to "Back to Tools", tools_path %></p>


<% if !logged_in? %>
	<p>Please log in to enter a comment or borrow a tool</p>
<% else %>
	<%= render 'comments/form' %>

	<% if @tool.borrower != nil %>
			<p>This tool is unavailable</p>
	<% elsif @tool.borrowRequests.each do |req| %>
		<% if req.requester == current_user %>
			<p>Your request is pending...</p>
		<% end %>
	<% end %>
	<% else %>
		<%= render 'borrow_requests/create' %>
	<% end %>
<% end %>

<%= render @tool.comments.order("created_at desc") %>
