<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="messages index" data-user= <%= current_user.id %> data-convo= <%= @conversation.id %>>
				<% @conversation.messages.each do |msg| %>
					<% if msg.body %>
				 		<% user = User.find(msg.user_id) %>
					 	<div class="header" data-val= <%= msg.id %>>
					 		<% if msg.user == current_user %>
						 		<div class="bubble me"><%= msg.body %>
									<br><%= msg.formatted_time%>
						 		</div>
						 	<% else %>
						 		<div class="bubble you"><%= msg.body %>
						 			<br><%= msg.formatted_time%>
								</div>
							<% end %>					
						</div>
					<% end %>
				<% end %>
			</div>	
			<div class="form-wrapper msg-form">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
