<% title "Conversations" %>
<div class="container wrap">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'shared/page_title', title: 'Message Box' %>
      <div class="item">
        <% @conversations.each do |conversation| %>
        <!-- if user have a conversation as sender or recipient-->
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <!-- if as sender get recipient name-->
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
          <!-- else, if as recipient get sender name-->
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <%= recipient.username %> <%= link_to 'Send a message', conversation_messages_path(conversation)%>
            <br>
          <% end %>
        <% end %>
      </div>
    <%= render 'shared/page_title', title: 'All Users' %>
      <div>
        <% current_user.tools.each do |t| %>  
          <% if t.borrower.present? %>        
            <p>
              <%= t.borrower.username %> <%= link_to 'Send a message', conversations_path(sender_id: current_user.id,recipient_id: t.borrower.id), method: 'POST' %>
            </p>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
