<%= render 'shared/page_title', title: @user.username %>

<% if @user.profile_pic? %>
	<%= image_tag @user.profile_pic.url(:medium) %>
<% end %>

<% if logged_in? && @user == current_user %>
	<h2><%= link_to "Create a new tool", new_tool_path %></h2>
<% end %>


<div class="center">
	<%= will_paginate @tools %>
</div>
<% @tools.each do |t| %>
	<div class="well">
			<h4><%= link_to t.name, tool_path(t) %></h4>
		<p>
			<%= t.description %>
		</p>
		<p>
			<span>Created: <%= time_ago_in_words(t.created_at) %></span>
			<span>Updated: <%= time_ago_in_words(t.updated_at) %></span>
		</p>
	</div>
<% end %>

